# Ignore node_modules folder (huge and recreated via npm install)
node_modules/

# Ignore environment variable files with secrets
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS-specific files
.DS_Store
Thumbs.db

# Optional: Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
